@import "tailwindcss";

@font-face {
  font-family: "DiatypeRounded";
  src: url("./fonts/ABCDiatypeRoundedMonoVariable-Trial.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --color-light-brown: #A37D65;
  --color-dark-brown: #5C402D;
  --color-green: #C9FF00;
  --color-orange: #FF6600;
  --color-magenta: #FF00E5;
} 

:root {
  font-family: "DiatypeRounded";
  max-height: 100vh;
  
  line-height: 1.5;
  background-color: var(--color-light-brown);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
